<div class="container" >

  <div class="identifient" >

    <div class="photo" ><img src="" alt=""></div>

    <div class="roleName">
      <div class="nom">Jean-Louis</div>
      <div class="role">Utilisateur</div>
    </div>


  </div>

  <div class="link">

    <button (click)="changeLayout('home','gestion des ventes')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"   class="someclass"></bi>
    </button>

  </div>

  <div class="link">

    <button (click)="changeLayout('listbank','gestion des banques')" [class.iSselect]="'listbank'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div  class="link">

    <button (click)="changeLayout('posts','gestion des banques')" [class.iSselect]="'posts'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="link" >

    <button (click)="changeLayout('adduser','gestion des utilisateurs')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="link" >

    <button (click)="changeLayout('posts','gestion des banques')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="link" >

    <button (click)="changeLayout('posts','gestion des banques')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="link" >

    <button (click)="changeLayout('posts','gestion des banques')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="link" >

    <button (click)="changeLayout('posts','gestion des banques')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="link" >

    <button (click)="changeLayout('posts','gestion des banques')" [class.iSselect]="'home'===isSelect">
      <bi name="shop-window"  class="someclass"></bi>
    </button>

  </div>

  <div class="footer">.</div>

</div>

<!-- <img src="../../../../assets/images/imgBack1.png" width="30px" height="30px"> -->
